.Wrapper {
	position: fixed;
	inset: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.8);
}

.ContentWrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	height: 100%;
}



.LargeImageViewWrapper {
	display: flex;
	position: relative;
	height: 100%;
	padding-top: 0.5rem;
	padding-inline: 0.5rem;
}

.LargeImageWrapper {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
}

.LargeImage {
	object-fit: contain;
}

.CloseBtn {
	position: absolute;
	right: 0rem;
	top: 0.5rem;
	background-color: white;
	outline: none;
	border: none;
	width: 3rem;
	aspect-ratio: 1;
	z-index: 1;
}


.CloseBtn,
.HoverBtnGroupIcon,
.LargeBtnIcon,
.BtnIcon,
.SliderBtn,
.SliderItemWrapper,
.Btn {
	cursor: pointer;
}


.HoverBtnGroup {
	position: absolute;
	bottom: 1rem;
	right: 0rem;
	display: flex;
	gap: 0.5rem;
	color: rgba(0, 0, 0, 0.9);
}

.CopyBtn {
	background: transparent;
	border: none;
}


.HoverBtnGroupIcon {
	color: rgba(0, 0, 0, 0.9);
	background-color: #ffffff;
	font-size: 1.8rem;
	padding: 0.3rem;
}

.LargeBtnIcon {
	background: transparent;
}

.Btn {
	position: aboslute;
	background: white;
	color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	border: none;
	display: flex;
}

.LargeBtnIcon {
	font-size: 3.5rem;
	padding: 0.9rem;
}

.CloseBtn,
.LargeBtnIcon,
.HoverBtnGroupIcon,
.Btn {
	border-radius: 999999999999999999px;
}

.Btn,
.CloseBtn,
.HoverBtnGroupIcon {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




.ImagePreviewWrapper {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	height: 5rem;
}

/* changes started here */



/* slider overflows parent container and parent container has an overflow of hidden to prevent the overflow from being visible. Then the buttons are used to move the slider. this is the idea for scrolling the slider*/
.Slider {
	display: flex;
	gap: 0.5rem;
	width: 100%;
	list-style-type: none;
	position: relative;
	overflow: auto;
}

.Slider::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

/*  the aspect ratio implemented is really just to provide a width which the inner img element used the in Nextjs Image component will use for setting it's own width and height since it was set to fill */
.SliderItemWrapper {
	position: relative;
	height: 100%;
	aspect-ratio: 16/9;
	border: 1px solid #5599b7; 
	opacity: 0.5;
	border-radius: 2px;

}


.ItemActive {
	opacity: 1;
	border-width: 2px;
}

/* preserve the aspect ratio of the actual image*/
.SliderImage {
	object-fit: contain;
}


.SliderBtn {
	z-index: 3;
	font-size: 1rem;
	padding: 0.1rem;
	border: none;
	outline: none;
	background-color: rgba(170, 170, 150, 1);

}

.SliderBtn .BtnIcon {
	/* background-color: black; */
	color: black;
}

.SliderBtn:hover .BtnIcon,
.SliderBtn:hover {
	background-color: rgba(170, 170, 150, 0.5);
}